server: 
  port: 7888
spring:
  application:
    name: eureka-zuul
https:
  password: 214719198680595
  file: D:/your-name.jks
  port: 443

###################  eureka配置  ###################    
eureka:
  server:
    enable-self-preservation: false        # 关闭自我保护模式（缺省为打开）
    eviction-interval-timer-in-ms: 5000       # 
  instance: 
    hostname: 127.0.0.1
    instance-id: ${eureka.instance.hostname}:${server.port} 
  client:
    registry-fetch-interval-seconds: 5
    serviceUrl:
      defaultZone: http://127.0.0.1:7888/eureka/
       

hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 20000

ribbon:
  ReadTimeout: 20000
  ConnectTimeout: 20000
    
zuul: 
  host:
    connect-timeout-millis: 20000
    socket-timeout-millis: 20000
  
  routes:
    PinTiDuo-service: 
      path: /ptd/**
      serviceId: PinTiDuo-service
      sensitiveHeaders: 
   